body {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto';
  background-color: #f9fafb;
}

#left-container {
  display: grid;
  grid-column: 1 / 2;
  background-image: url(images/background-image.jpg);
  background-position: center 10%;
  background-size: 100vh;
  background-position: center;
  height: 100vh;
}

#visit-japan {
  background-color: rgba(0, 0, 0, 0.734);
  height: 20%;
  margin-top: 20%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

#visit-japan-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#visit-japan-text > p,
#visit-japan-text > h1 {
  font-family: 'Bebas Neue';
  color: white;
  margin: 0;
  align-self: start;
}

#visit-japan-text > p {
  font-size: 1.5rem;
}

#visit-japan-text > h1 {
  font-size: 4rem;
}

#visit-japan > img {
  display: grid;
  width: 60%;
  justify-self: center;
  align-self: center;
}

#right-container {
  display: grid;
  grid-template: 27.5% 45% 27.5% / 1fr;
  grid-column: 2 / 3;
  background-color: #f9fafb;
  height: 100vh;
}

#text-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  justify-content: end;
  margin: 10% 10% 5% 5%;
}

#text-wrapper > p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

#top-text {
  padding-bottom: 5%;
}

#text-wrapper > p > span {
  font-style: italic;
}

#sign-up-form {
  display: grid;
  grid-template: repeat(7, 0.5fr) / 1fr 1fr;
  gap: 2% 6vw;
  grid-area: 2 / 1 / 3 / 2;
  background-color: white;
  padding: 5% 25% 7% 5%;
  box-shadow: 5px 25px 7vh 0.5vh rgba(0, 0, 0, 0.137);
  z-index: 1;
  align-items: center;
}

#sign-up-form > h1 {
  display: grid;
  grid-area: 1 / 1 / 2 / 3;
  font-size: 1.5rem;
  font-weight: 450;
  margin: 0 0 3% 0;
}

#sign-up-form > label {
  font-size: 0.7rem;
  font-weight: 500;
  align-self: end;
}

#first-name {
  display: grid;
  grid-area: 3 / 1 / 4 / 2;
}
#last-name {
  display: grid;
  grid-area: 3 / 2 / 4 / 3;
}

#email {
  display: grid;
  grid-area: 5 / 1 / 6 / 2;
}

#phone-number {
  display: grid;
  grid-area: 5 / 2 / 6 / 3;
}

#password {
  display: grid;
  grid-area: 7 / 1 / 8 / 2;
}
#sign-up-form > input {
  border: 1px solid rgba(0, 0, 0, 0.309);
  border-radius: 0.25rem;
}

#sign-up-form > input:focus {
  border: 1px solid rgb(0, 81, 255);
  outline: none;
  box-shadow: 0 0.3vh 4px 0px rgba(0, 0, 0, 0.129);
}

#sign-up-form > input[type="password"]:invalid {
  border-color: red;
} 

#bottom-wrapper {
  background-color: #f9fafb;
  padding: 5% 25% 5% 5%;
}

#form-button {
  background-color: #60AB91;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 450;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 3%;
  cursor: pointer;
}

#bottom-wrapper > p > span {
  color: #596d48;
  cursor: pointer;
}