body {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto';
  background-color: #f9fafb;
}

#left-container {
  display: grid;
  grid-column: 1 / 2;
  background-image: url(images/background-image.avif);
  background-position: center;
  height: 100vh;
}

#right-container {
  display: grid;
  grid-template: 33% 33% 33% / 1fr;
  grid-column: 2 / 3;
  background-color: #f9fafb;
  height: 100vh;
}

#text-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  justify-content: end;
  margin: 10% 10% 5% 5%;
}

#text-wrapper > p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

#top-text {
  padding-bottom: 5%;
}

#text-wrapper > p > span {
  font-style: italic;
}

#sign-up-form {
  display: grid;
  grid-template: repeat(7, 0.5fr) / 1fr 1fr;
  gap: 2% 6vw;
  grid-area: 2 / 1 / 3 / 2;
  background-color: white;
  padding: 5% 25% 5% 5%;
  box-shadow: 5px 25px 7vh 0.5vh rgba(0, 0, 0, 0.137);
  z-index: 1;
  align-items: center;
}

#sign-up-form > h1 {
  display: grid;
  grid-area: 1 / 1 / 2 / 3;
  font-size: 1.5rem;
  font-weight: 450;
  margin: 0 0 3% 0;
}

#sign-up-form > label {
  font-size: 0.7rem;
  font-weight: 500;
  align-self: end;
}

#sign-up-form > input {
  border: 1px solid rgba(0, 0, 0, 0.309);
  border-radius: 0.25rem;
}

#sign-up-form > input:focus {
  border: 1px solid rgb(0, 81, 255);
  outline: none;
  box-shadow: 0 0.3vh 4px 0px rgba(0, 0, 0, 0.129);
}

#sign-up-form > input[type="password"]:invalid {
  border-color: red;
} 

#bottom-wrapper {
  background-color: #f9fafb;
  padding: 5% 25% 5% 5%;
}

#form-button {
  background-color: #596d48;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 450;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 3%;
}

#bottom-wrapper > p > span {
  color: #596d48;
}