body {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 0;
  height: 100vh;
}

#left-container {
  display: grid;
  grid-column: 1 / 2;
  background-image: url(images/background-image.avif);
  background-position: center;
}

#right-container {
  display: grid;
  grid-template: 1.2fr 1fr 1.2fr / 1fr;
  grid-column: 2 / 3;
  background-color: #f9fafb;
}

#text-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  justify-content: end;
  margin: 0 10% 10% 5%;
}

#text-wrapper > p {
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

#top-text {
  padding-bottom: 5%;
}

#text-wrapper > p > span {
  font-style: italic;
}

#sign-up-form {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
  background-color: lightblue
}

#bottom-wrapper {
  display: grid;
  grid-area: 3 / 1 / 4 / 2;
  background-color: #f9fafb;
}
